@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --view-height: 100dvh;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222 83% 43%;
    --primary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 70% 48%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20% 65%;
    --radius: 1rem;
  }
}
